<div class="data-form">
  <form action="/courses/create" method="POST">
    <h2>Create a course:</h2>
    <label for="inputTitle">Title:</label>
    <input type="text" name="title" id="inputTitle" placeholder="Title" required>
    <br>
    <label for="inputDescription">Description</label>
    <input type="text" name="description" id="inputDescription" placeholder="Description">
    <br>
    <label for="inputMaxStudents">Max Students</label>
    <input type="text" name="maxStudents" id="inputMaxStudents" placeholder="Max Students">
    <br>
    <label for="inputCost">Cost</label>
    <input type="text" name="cost" id="inputCost" placeholder="Cost">
    <br>
    <button type="submit">Create Course</button>
  </form>
</div>