<div class="data-form">
  <form action="/users/create" method="POST">
    <h2>Create a new user:</h2>
    <br>
    <label for="inputFirstName">First Name</label>
    <br>
    <input type="text" name="first" id="inputFirstName" placeholder="First" autofocus>
    <br>
    <label for="inputLastName">Last Name</label>
    <br>
    <input type="text" name="last" id="inputLastName" placeholder="Last">
    <br>
    <label for="inputPassword">Password</label>
    <br>
    <input type="text" name="password" id="inputPassword" placeholder="Password" required>
    <br>
    <label for="inputEmail">Email</label>
    <br>
    <input type="text" name="email" id="inputEmail" placeholder="Email" required>
    <br>
    <label for="inputZipCode">Zip Code</label>
    <br>
    <input type="text" name="zipCode" id="inputZipCode" patter="\d*" placeholder="Zip Code" required>
    <br>
    <button type="submit">Sign in</button>
  </form>
</div>